
.icon-play:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-fast-forward:before { content: '\e802'; } /* '' */
.icon-help-circled:before { content: '\e803'; } /* '' */