body{
	margin: 0px;
}
.row{
	height: 200px;
	margin-left: -10px;
	margin-right: -10px;

	-webkit-transform: rotateZ(2.5deg); /* Safari */
	transform: rotateZ(2.5deg);
}
.row1{
	background-color: red;
}
.row2{
	background-color: blue;
}
.row3{
	background-color: orange;
}