body{
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(142,58,216,0.8);
}
.collage{
	/*position: relative;*/
	margin-bottom: -1px;
}
.collage-inner{
	position: absolute;
	width: 110%;
	height: 50%;
	margin-left: -20px;
	margin-right: -20px;
	top: 25%;
	left: 0;
	
	-webkit-transform: rotateZ(2.5deg); /* Safari */
	transform: translateZ(1px) rotateZ(2.5deg);
}
/*
.details{
	display: inline-block;
	width: 100px;
	height: 50%;
	background-color: #000;
}
*/
.row{
	width: 110%;
	height: 20.5%;
	margin-left: -20px;
	margin-right: -20px;

	/* crispen image edges and rotate row */
	-webkit-transform: rotateZ(2.5deg); /* Safari */
	transform: translateZ(1px) rotateZ(2.5deg);

	background-color: rgb(178, 255, 229);
	border-top: 3px solid rgba(0,0,0,0.9);
	border-bottom: 3px solid rgba(0,0,0,0.9);

	/* to fix rotated pixel seams */
	margin-bottom: -1px;
}
.image{
	display: inline-block;
	position: absolute;
	height: 100%;
	width: auto;

	border-left: 3px solid rgba(0,0,0,0.2);
	border-right: 3px solid rgba(0,0,0,0.2);

	/* this must be here to initialise the photos to a good place */
	left: 100%;
}
.photo{
	height: 100%;
}
/*player*/
.songlist{
	display: none;
}
.playlist{
	display: none;
}
.player{
	height: 22%;
	margin-left: -1%;
	margin-right: -1%;

	-webkit-transform: rotateZ(2.5deg); /* Safari */
	transform: translateZ(1px) rotateZ(2.5deg);

	border-top: 3px solid #000;

	/*background-color: rgba(255,255,255,.8);*/
	background: -moz-linear-gradient(top, rgba(122,232,255,0.8) 0%, rgba(142,58,216,0.8) 80%, rgba(142,58,216,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,232,255,0.8)), color-stop(80%,rgba(142,58,216,0.8)), color-stop(100%,rgba(142,58,216,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(122,232,255,0.8) 0%,rgba(142,58,216,0.8) 80%,rgba(142,58,216,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(122,232,255,0.8) 0%,rgba(142,58,216,0.8) 80%,rgba(142,58,216,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(122,232,255,0.8) 0%,rgba(142,58,216,0.8) 80%,rgba(142,58,216,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(122,232,255,0.8) 0%,rgba(142,58,216,0.8) 80%,rgba(142,58,216,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc7ae8ff', endColorstr='#cc8e3ad8',GradientType=0 ); /* IE6-9 */

	/* to fix row wrapper/row height mismatch */
	margin-top: -3px;
}
.player-foreground{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

/*seek*/
.seekBase{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.seekLoad{
	height: 100%;
	background-color: #000000;
}
