body{
	margin: 0px;
}
.row{
	height: 200px;
	margin-left: -10px;
	margin-right: -10px;

	-webkit-transform: rotateZ(2.5deg); /* Safari */
	transform: translateZ(1px) rotateZ(2.5deg);

	position: relative;
}
.row1{
	background-color: rgb(178, 255, 229);
	border-top: 5px solid rgba(255,255,255,0.5);
}
.row2{
	background-color: blue;
}
.row3{
	background-color: orange;
}

.image{
	display: inline-block;
	position: absolute;
	-ms-transform: translateX(1500px);
	-webkit-transform: translateX(1500px);
	transform: translateX(1500px);
}

.photo{
	width: 200px;
	height: 200px;
}