<div class="collage-inner" back-image="{{selectedImage.images.standard_resolution.url}}" overlay="linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8))">
	<div class="details" ng-show="isOpen">
		<div class="image-large-cont">
			<div class="image-wrapper" ng-show="selectedImage">
				<a ng-href="{{selectedImage.link}}" target="_blank">
					<img ng-show="selectedImage" class="image-large" ng-src="{{selectedImage.images.standard_resolution.url}}"/>
				</a>
				<div class="image-close" ng-click="closeInner()">
					<span class="icon-cancel"></span>
				</div>
			</div>
			<div class="info-wrapper" ng-show="!selectedImage">
				<div class="info-content">
					<p>This live (unofficial) Coachella feed was created by <a href="https://twitter.com/nickdrewe" target="_blank">Nick Drewe</a> & <a href="https://twitter.com/_MattWay" target="_blank">Matt Way</a>, with backing art by <a href="https://www.facebook.com/sadsuedesigns" target="_blank">Sad Sue Designs</a>.</p>
					<p>Photos come from <a href="http://instagram.com" target="_blank">Instagram</a> within a 2km radius of Coachella, and via the <a href="http://instagram.com/explore/tags/coachella" target="_blank">#Coachella</a> hashtag.</p>
					<p>Music is streamed from <a href="http://soundcloud.com" target="_blank">SoundCloud</a>.
					<p>We also build tons of other stuff like, <a href="http://warmest100.com.au" target="_blank">Warmest 100</a>, <a href="http://splendourinthegrams.com" target="_blank">Splendour In The Grams</a>, <a href="http://churn.tv" target="_blank">Churn</a>, <a href="http://ruffle.us" target="_blank">Ruffle</a>, <a href="http://www.nurture.ai" target="_blank">Nurture</a>, <a href="http://memebig.com" target="_blank">memeBig</a>.</p>
				</div>
				<div class="image-close" ng-click="closeInner()">
					<span class="icon-cancel"></span>
				</div>
			</div>
		</div>
	</div>	
</div>
<div ng-repeat="row in rowData" class="row row{{$index}}" image-row="row" back-image="{{row.background}}"></div>
