
<div class="collage-inner" ng-show="isOpen" back-image="{{selectedImage.images.standard_resolution.url}}" overlay="linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8))">
	<div class="details">
		<div class="image-large-cont">
			<div class="image-wrapper">
				<img ng-if="selectedImage" class="image-large" ng-src="{{selectedImage.images.standard_resolution.url}}"/>
				<div class="info" ng-if="!selectedImage">
				Some stuff about us!
				</div>
				<div class="image-close" ng-click="closeInner()">
					X
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-repeat="row in rowData" class="row" image-row="row" back-image="{{row.background}}" overlay="linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))"></div>